body {
	font: 16px Corbel, Sans-Serif;
}


#container {
	width: 800px;
	margin: 40px auto 60px;
}

#content-title {
	text-align: center;
	font-size: 60px;
	letter-spacing: 20px;
}

#content-info {
	text-align: center;
	font-size: 14px;
	letter-spacing: 2px;
}

#content-header {
	font-size: 28px;
}

h3 {
	border-bottom: 1px solid #999;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
